/.ackrc
/.build/
!/.gitignore
/.latest
Dist-Zilla-Plugin-PortabilityTests-*/
Dist-Zilla-Plugin-PortabilityTests-*.tar.gz
Dist-Zilla-Plugin-Test-Portability-*/
Dist-Zilla-Plugin-Test-Portability-*.tar.gz
